nav {
    background-color: grey;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}
